/* principal */
* {
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

main {
   max-width: 1000px;
   flex: 1;
}

header {
   width: 100%;
   background-color: #ae3836;
   padding: 1.5% 0 1.5% 0;
}

footer {
   background-color: #6a3b3a;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 1.5% 0 1.5% 0;
   width: 100%;
}

footer>p {
   color: #b4afad;
}

.listFooter>li>a {
   text-decoration: none;
   color: #af8684;
   padding: 5px;
}



/******************************************************/

ul,
ol {
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 20px;
   margin: 0;
   padding: 0;
}

a {
   display: flex;

}

p {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: normal;
}

/*                                Les boutons du haut                         */
.aheader>ul>li>a {
   color: white;
   text-decoration: none;
   background-color: #875c5a;
   padding: 10px;
   border: 1px solid white;
   border-radius: 7px;
   font-family: "Edu NSW ACT Cursive", cursive;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-size: 1em;
}

.aheader>ul>li>a:hover {
   color: rgb(250, 74, 74);

}

.aheader>ul>li>a:active {
   background-color: white;
   color: rgb(133, 1, 1);
   box-shadow: 4px -4px 1px;
}

/*                               Fin de boutons                    */


/*                   Section "Bienvenue dans l'univers des fraises"*/
.debut {
   height: 320px;
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background-image: url("../images/fraise.png");
   background-size: cover;
   background-position: center;

   text-align: center;
   color: white;
   text-shadow: 2px 3px 4px rgb(34, 34, 34);
   font-family: "Edu NSW ACT Cursive", cursive;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   
}

/*                   Fin de la section                            */

/*                 La partie "Les différentes variétés de fraises"                */
.debut2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ae3836;
   margin: 25px;
   border-radius: 10px;

}

.listVarieteFraise {
   margin: 15px;
}

.debut2>h2 {
   color: white;
   text-decoration: none;
   font-family: "Edu NSW ACT Cursive", cursive;
   font-style: italic;
   text-shadow: 2px 3px 4px rgb(34, 34, 34);
   padding: 12px;
}

.debut2>p {
   color: white;
}

.listVarieteFraise>li {
   display: flex;
   background-color: #6a3b3a;
   text-decoration: none;
   color: rgb(230, 226, 226);
   padding: 15px;
   border-radius: 5px;
   font-size: 20px;
}

.listVarieteFraise>li>a {
   color: white;
   text-decoration: none;
}

/*                   Fin de la partie                              */

/*                   Section "Les taille des fraises"              */
.debut3 {
   margin: 25px;
   border: 2px solid #b95752;
   border-radius: 10px;
}

.debut3>h3 {
   display: flex;
   justify-content: center;
   font-family: "Edu NSW ACT Cursive", cursive;
   font-style: italic;
   padding: 17px;
   font-size: 25px;
}

.list_taille_fraise {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   position: relative;
}


.list_taille_fraise>div {
   border: 10px solid #d6c8c7;
   border-radius: 5px;
   box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.list_taille_fraise>div>div {
   border: 1px solid #866966;
   border-radius: 5px;
   margin: -1px;
   display: flex;
   flex-direction: column;
}

.list_taille_fraise>div>div> :first-child {
   color: black;
   padding: 13px;
   position: absolute;
   background-color: rgba(255, 255, 255);
   border-bottom-right-radius: 12px;
   font-size: 25px;
   opacity: 55%;
}

.list_taille_fraise>div>div> :last-child {
   color: black;
   background-color: #d87f7f;
   padding: 5px;
   font-size: 15px;
   color: #3e3838;
}

/*                    Fin de la section                            */

@media screen and (max-width: 880px) {
   .aheader>ul>li>a {
      font-size: 80%;
   }

   main {
      max-width: 700px;
   }
   .debut{
      font-size: 13px;
   }

   .list_taille_fraise {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
   }

   .list_taille_fraise>div {
      width: 65%;

   }

   .list_taille_fraise>div>div>:first-child {
      width: 37%;
   }
   .listVarieteFraise{
      flex-direction: column;
      gap: 5px;
   }
}