* {
   margin: 0;
   padding: 0;
}

header {
   background-color: #ae3836;
   padding: 1.5%;
}

ul {
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 20px;
   margin: 0;
   padding: 0;
}

a {
   display: flex;
   color: white;
   text-decoration: none;
}

p {
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: normal;
}

/*                                Les boutons du haut                         */
.aheader {
   color: white;
   text-decoration: none;
   background-color: #875c5a;
   padding: 10px;
   border: 1px solid white;
   border-radius: 7px;
   font-family: "Edu NSW ACT Cursive", cursive;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-size: 1em;
}

.aheader:hover {
   color: rgb(250, 74, 74);

}

.aheader:active {
   background-color: white;
   color: rgb(133, 1, 1);
   box-shadow: 4px -4px 1px;
}

/*                               Fin de boutons                    */


/*                   Section "Bienvenue dans l'univers des fraises"*/
.debut {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url("../images/fraise.png");
   background-size: cover;
   background-position: center;
   height: 320px;
   justify-content: center;
   text-align: center;
   color: white;
   text-shadow: 2px 3px 4px rgb(34, 34, 34);
   font-family: "Edu NSW ACT Cursive", cursive;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}

/*                   Fin de la section                            */

/*                 La partie "Les différentes variétés de fraises"                */
.debut2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ae3836;
   margin: 25px;
   border-radius: 10px;
   
}

.listVarieteFraise {
   margin: 15px;


}

.varietesFraise {
   color: white;
   text-decoration: none;
   font-family: "Edu NSW ACT Cursive", cursive;
   font-style: italic;
   text-shadow: 2px 3px 4px rgb(34, 34, 34);
   padding: 12px;
   
}

.textVarietesDeFraise {
   display: flex;
   background-color: #6a3b3a;
   text-decoration: none;
   color: rgb(230, 226, 226);
   padding: 20px;
   border-radius: 5px;
   font-size: 20px;
}

/*                   Fin de la partie                              */